<div class="sales-container">
    
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio Total</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Pago</th>
          </tr>
        </thead>
        <tbody>
          @for (sale of displayedSales; track sale.id) {
          <tr>
            <td>{{sale.id}}</td>
            <td>{{sale.burgerName}}</td>
            <td>{{sale.quantity}}</td>
            <td>${{sale.totalPrice.toFixed(2)}}</td>
            <td>{{sale.date | date:'medium'}}</td>
            <td>{{sale.customer || 'N/A'}}</td>
            <td>{{sale.paymentMethod}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    
  
  </div>